<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Editar Médico</title>
    <link rel="stylesheet" href="../../static/css/editar_medico.css">
</head>
<body>

<div class="top-bar"></div>

<main class="editar-container">

    <div class="foto-perfil">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png">
    </div>

    <input id="nomeMedico" class="input-nome" value="Nome">

    <p class="id-conta">#id.de.conta</p>

    <div class="campo-editavel">
        <input id="cargoMedico" value="Cargo na empresa">
        <span>✎</span>
    </div>

    <div class="campo-editavel">
        <input id="emailMedico" value="Email@email.com">
        <span>✎</span>
    </div>

    <p class="cpf">CPF: 000.000.000-00</p>

    <a href="#" class="trocar-senha">Trocar senha</a>

    <div class="botoes">
        <button onclick="cancelar()">Cancelar</button>
        <button onclick="salvar()">Salvar</button>
    </div>

</main>

<script src="../../static/js/editar_medico.js"></script>
</body>
</html>