<!---Esse era o login.html-->

<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tela de Login</title>

        <link rel="stylesheet" href="../../static/css/login.css">
    </head>

    <body>
        <main class="container">
            <div class="logo-container">
                <img src="../../static/Logo-Eu-digo-X-1024x365.png" alt="Logo Eu Digo X" class="logo-img">
            </div>
            <h1>Entre em sua conta</h1>

            <form>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Senha">

                <button class="btn-entrar" type="submit">
                Entrar
                </button>
            </form>
        </main>
    </body>
    
</html>