
<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tela de Login</title>

        <link rel="stylesheet" href="../../static/css/login.css">
        <script src="../../static/js/entrar.js"></script>
    </head>

    <body>
        <main class="container">
            <div class="logo-container">
                <img src="../../static/Logo-Eu-digo-X-1024x365.png" alt="Logo Eu Digo X" class="logo-img">
            </div>
            <h1>Entre em sua conta</h1>

            <form>
                <input type="email" id="loginEmail" placeholder="Email" required>
                <input type="password" id="loginSenha" placeholder="Senha" required>

                <button class="btn-entrar" type="button" onclick="entrar()">
                Entrar
                </button>
            </form>
        </main>
    </body>
    
</html>