<!DOCTYPE html>
<html lang="pt-BR">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta</title>
    <link rel="stylesheet" href="../../static/css/sigin.css">
  </head>

  <body>
    <main class="container">
      <h1>Adicione um Profissional</h1>

      <form>
        <input type="text" placeholder="Nome completo do Profissional">
        <input placeholder="CPF" placeholder="CPF (somente digitos)" maxlength="11" inputmode="numeric" pattern="[0-9]*" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
        <input type="email" placeholder="Email">
        <input type="text" placeholder="Tipo de Usuário">
        <input type="password" placeholder="Senha">
        <input type="password" placeholder="Confirmação de senha">

        <button class="btn-criar" type="submit">Criar</button>

      </form>
    </main>
  </body>

</html>