<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criar Conta</title>
  <link rel="stylesheet" href="../../static/css/sigin.css">
</head>

<body>

  <main class="container">
    <h1>Crie sua conta</h1>

    <form id="formCadastro">
      <input type="text" id="nome" placeholder="Nome completo">
      <input type="text" id="cpf" placeholder="CPF">
      <input type="email" id="email" placeholder="Email">
      <input type="text" id="cargo" placeholder="Cargo na empresa">
      <input type="password" id="senha" placeholder="Senha">
      <input type="password" id="confirmarSenha" placeholder="Confirmação de senha">

      <button class="btn-criar" type="submit">Criar</button>

    </form>

  </main>
  <script src="../../static/js/sign.js"></script>
</body>
</html>